/*STYLES FOR THE HERO SECTION */
.hero{
    /*General Hero Styles*/
        color: $white;
        background: url(/img/Background2.png);
        background-size: cover;
        min-height: 650px;
    
    /*Header Syles*/
    header{
        .container{
            .btn{
                margin-right: 0;
            }
        }
        padding: 15px 0;
        span{
            color: $primary-color;
        }
        a{
            color: $white;
        }

        .nav-link{
            font-size: .9rem;
        }
        //background: #1f232bb0;
        .navbar-nav{
            margin-left: auto;
            transition: all 800ms;
        }
        .navbar-toggler{
            i{
                color: white !important;
            }
        }

        .show{
            width: 100vw;
            height: 100vh;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 500;
            background: rgba(0, 0, 0, 0.247);
        }
    }

    /*Hero Content Syles*/
    .hero-content{
        padding: 100px 0;
        .container{
        }

        h1,p {
            margin-bottom: 25px;
        }

    }


}


//Responsividade