/*STYLES FOR THE HERO SECTION */
.hero{
    /*General Hero Styles*/
        color: $white;
        background: url(/img/Background2.png);
        background-size: cover;
        min-height: 650px;
    /*HEADER Sytles on scroll*/
    .navScrolled{
        position: fixed;
        top: 0;
        width: 100vw;
        background:  #040d20e1;
        padding: 8px 0;
        box-shadow: $box-shadow1;
        z-index: 3000;
    }
    /*Header Syles*/
    header{
        transition: all 500ms;
        .container{
            .btn{
                margin-right: 0;
            }
        }
        padding: 15px 0;
        span{
            color: $primary-color;
        }
        a{
            color: $white;
        }

        .nav-link{
            font-size: .9rem;
        }
        .actual{
            color: wheat;
        }
        .nav-hovered{
            transition: all 300ms;
            position: relative;
            &::before{
                transition: all 500ms;
                content: "";
                position: absolute;
                left: 4%;
                bottom: 2px;
                border-radius: 8px;
                width: 0;
                height: 0px;
                background: $primary-color;
            }
        }

        .nav-hovered:hover{
            color: $primary-color;
            &::before{
                width: 92%;
                height: 2px;
            }
        }
        .nav-item{
            //outline: 1px solid tomato;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        //background: #1f232bb0;
        .navbar-nav{
            margin-left: auto;
            transition: all 800ms;
        }
        .navbar-toggler{
            i{
                color: white !important;
            }
        }

        .show{
            width: 100vw;
            height: 100vh;
        }
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 500;
            background: rgba(0, 0, 0, 0.247);
        }
    }

    /*Hero Content Syles*/
    .hero-content{
        padding: 100px 0;
        .container{
        }

        h1,p {
            margin-bottom: 25px;
        }

    }


}


//Responsividade