/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

//TO SCREEN LESS THAN 450px
@media (max-width: 450px) {
    .small-title{
        padding-left: 0 !important;
        padding-right: 0 !important;
        &::before{
            display: none!important;
        }
    }
    //about
    .about{
    }
}

//TO SCREEN LESS THAN 576
@media (max-width: 576px) { 
    .small-title,.titlesection{
        text-align: center;
    }
    //about
    .about{
        ul,ol{
            padding-left: 25px;
        }
    }
}
//TO SCREEN LESS THAN 768px
@media (max-width: 768px) {
    //Manifesto
    .manifesto{
        .botoes{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .tab-btn{
            
        }
        .content-title{
            text-align: center;
        }
        .tab-text{
            padding-left: 0!important;
            padding-right: 0;
            padding-top: 25px;
        }
    }
    //Hero
    .big-title{
        font-size: 2.2rem;
    }
    .hero-content{
        text-align: center;
    }
    .small-title1{
        padding-left: 0;
        &::before{
            display: none;
        }
    }

    //About
    .about{

        .sobre-candidato{
            ul{
                list-style: none;
            }
            text-align: center;
            .candidato-texto{
                h3{
                    margin-left: auto;
                    margin-right: auto;
                }
                padding-left:$small-padding!important;
                padding-right:$small-padding;
                padding-top: 45px;
            }
        }
    }

 }

 //TO SCREEN LESS THAN 992px
@media (max-width: 992px) {
    //MENU
    .hide-nav{
        transform: translateX(-100%);
    }
    .navbar-nav{
        .btn{
            width: 120px;
        }
        justify-content: center;
        width: 30vw;
        
        background: $title-color;

        position: fixed;
        top: 0;
        left: 0;
        width: 60vw;
        height: 100vh;

        z-index: 1000;

        li{
            padding: 15px 0;
            display: flex;
            justify-content: center;
        }
    }
}