/*CORES ==============================*/
/*FONTES ============================*/
/*BACKGROUNDS =======================*/
/*SHADOWS ========================*/
/*ABOUT SECTION MARGIN*/
/*PADDING*/
/*Tipography ================ */
/*Fontes*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Poppins, sans-serif;
}

html {
  overflow-x: scroll !important;
}

.list {
  padding-left: 20px;
}

.list-none {
  list-style: none;
}

.big-title {
  font-size: 2.7rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.big-title span {
  color: #e7c900;
}

.small-title1 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #e7c900;
  padding-left: 53px;
  position: relative;
}

.small-title1::before {
  content: "";
  width: 45px;
  height: 10%;
  border-radius: 5px;
  background: #e7c900;
  position: absolute;
  top: 45%;
  left: 0px;
}

.small-title {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #e7c900;
  position: relative;
}

.small-title::before {
  content: "";
  display: none;
  width: 45px;
  height: 10%;
  border-radius: 5px;
  background: #e7c900;
  position: absolute;
  top: 45%;
  left: 0px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.125rem;
}

.content-title {
  font-size: 1.625rem;
  text-transform: uppercase;
}

.sub-title {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/*==================== Buttons ==============*/
.btn {
  margin-right: 15px;
  background-color: #e7c900;
  border-radius: 8px;
}

.btn:hover {
  background: none;
  color: #ffff;
  border: 2px solid #e7c900;
}

.square {
  border-radius: 0;
}

.secondary-btn {
  color: #ffff;
  background: none;
  border: 2px solid #e7c900;
}

.secondary-btn:hover {
  background: #e7c900;
  color: #1f232b;
}

/*STYLES FOR THE HERO SECTION */
.hero {
  /*General Hero Styles*/
  color: #ffff;
  background: url(/img/Background2.png);
  background-size: cover;
  min-height: 650px;
  /*HEADER Sytles on scroll*/
  /*Header Syles*/
  /*Hero Content Syles*/
}

.hero .navScrolled {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #040d20e1;
  padding: 8px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 3000;
}

.hero header {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  padding: 15px 0;
}

.hero header .container .btn {
  margin-right: 0;
}

.hero header span {
  color: #e7c900;
}

.hero header a {
  color: #ffff;
}

.hero header .nav-link {
  font-size: .9rem;
}

.hero header .actual {
  color: wheat;
}

.hero header .nav-hovered {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

.hero header .nav-hovered::before {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  content: "";
  position: absolute;
  left: 4%;
  bottom: 2px;
  border-radius: 8px;
  width: 0;
  height: 0px;
  background: #e7c900;
}

.hero header .nav-hovered:hover {
  color: #e7c900;
}

.hero header .nav-hovered:hover::before {
  width: 92%;
  height: 2px;
}

.hero header .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.hero header .navbar-nav {
  margin-left: auto;
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

.hero header .navbar-toggler i {
  color: white !important;
}

.hero header .show {
  width: 100vw;
  height: 100vh;
}

.hero header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background: rgba(0, 0, 0, 0.247);
}

.hero .hero-content {
  padding: 100px 0;
}

.hero .hero-content h1, .hero .hero-content p {
  margin-bottom: 25px;
}

/*STYLES FOR THE ABOUT SECTION*/
.about {
  background: #f2f2f2;
  padding: 10px 0;
}

.about .container {
  position: relative;
  outline: none;
}

.about .text {
  padding: 90px 0;
  margin-bottom: 30px;
}

.about .text .quem-somos {
  margin-bottom: 45px;
}

.about .text .o-que-trazemos {
  margin-bottom: 45px;
}

.about .text .sobre-candidato {
  margin-bottom: 45px;
}

.about .text .sobre-candidato .name {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #e7c900;
  background: #1f232b;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 4px 15px;
  font-weight: 600;
}

.about .text .sobre-candidato .candidato-texto {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .text .sobre-candidato .fotografia .foto {
  background: #f2f2f2;
}

.about .text .sobre-candidato .fotografia img {
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.about .text .sobre-candidato .fotografia::before {
  display: none;
  content: "";
  width: 94%;
  height: 100%;
  top: 6%;
  left: 10%;
  position: absolute;
  border-radius: 8px;
  border: 3px solid #e7c900;
}

.about .text .linhas-estrategicas {
  margin-top: 70px;
}

.about .cards {
  display: none;
  position: absolute;
  bottom: -26%;
}

.about .imagem {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  border-radius: 8px;
  height: 200px;
  background: blue;
}

.about .imagem img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .imagem div {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  width: 90%;
  height: 60px;
  position: absolute;
  bottom: -10px;
  left: 5%;
}

/*STYLES FOR THE CAST SECTION*/
.cast {
  padding-top: 170px;
}

.cast .elenco {
  margin-top: 55px;
}

.cast .elenco h3 {
  text-align: center;
  background: #1f232b;
  color: #e7c900;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 3px 0;
}

.cast .elenco .row {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cast .membro {
  text-align: center;
}

.cast .membro p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.cast .membro img {
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
@media (max-width: 450px) {
  .small-title {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .small-title::before {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .small-title, .titlesection {
    text-align: center;
  }
  .about ul, .about ol {
    padding-left: 25px;
  }
}

@media (max-width: 768px) {
  .manifesto .botoes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .manifesto .content-title {
    text-align: center;
  }
  .manifesto .tab-text {
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 25px;
  }
  .big-title {
    font-size: 2.2rem;
  }
  .hero-content {
    text-align: center;
  }
  .small-title1 {
    padding-left: 0;
  }
  .small-title1::before {
    display: none;
  }
  .about .sobre-candidato {
    text-align: center;
  }
  .about .sobre-candidato ul {
    list-style: none;
  }
  .about .sobre-candidato .candidato-texto {
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 45px;
  }
  .about .sobre-candidato .candidato-texto h3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .hide-nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .navbar-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30vw;
    background: #1f232b;
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    z-index: 1000;
  }
  .navbar-nav .btn {
    width: 120px;
  }
  .navbar-nav li {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.scroll {
  height: 2000px;
}

.pageHero {
  background: url(/img/pageHeroBg.png) no-repeat;
  background-size: cover;
  min-height: 200px;
}

.pageHero .hero-content {
  padding: 65px 0;
}

.pageHero .hero-content h1 {
  text-align: center;
  position: relative;
}

.pageHero .hero-content h1::before {
  content: "";
  width: 40%;
  border-radius: 8px;
  height: 4px;
  left: 30%;
  bottom: -10px;
  background: #e7c900;
  position: absolute;
}

.textContent {
  line-height: 1.6;
  padding: 60px 0;
}

.textContent .title-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.textContent ol {
  list-style: none;
}

.textContent li {
  padding: 2px 0;
}

.textContent .bloco-texto {
  margin-bottom: 70px;
  outline: solid;
}

.hide {
  display: none;
}

.actual-btn {
  border-left: 2px solid #e7c900 !important;
  color: blue;
}

.manifesto {
  background: #f2f2f2;
  padding: 40px 0;
}

.manifesto .tab-text {
  padding-left: 30px;
}

.manifesto .row {
  padding: 50px 0;
}

.botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.botoes button {
  -webkit-transition: border color 500ms ease-in;
  transition: border color 500ms ease-in;
  padding: 8px 16px;
  border: 0px solid #e7c900;
  background: none;
}

.botoes button:hover {
  color: blue;
  border-left: 3px solid #e7c900;
}

.botoes2 {
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */